#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: rgb(235, 202, 233);
}
#title{
    margin: 50px 0px;
    color: #000;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-div{
    background: white;
    padding: 10px;
    margin: 0;
}
#img-caption {
    margin: 15px 0 5px 0;
    text-aling: center;
}
#headline {
  margin: 30px 0;
  text-aling: center;
}
a {
    color: #318b57;
}